<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoduo.hashming.artisan.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.duoduo.hashming.artisan.entity.Question">
        <!--@mbg.generated-->
        <!--@Table question-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
    </resultMap>
    <resultMap id="MultipleBaseResultMap" type="com.duoduo.hashming.artisan.dto.Question_User" extends="BaseResultMap">
        <result column="id" jdbcType="INTEGER" property="id1"/>
        <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="TOKEN" jdbcType="VARCHAR" property="token"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, title, description, gmt_create, gmt_modified, creator, comment_count, view_count,
        like_count, tag
    </sql>

    <!--auto generated by MybatisCodeHelper on 2022-05-13-->
    <select id="selectAllByCreatorOrCommentCount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        <where>
            <if test="creator != null">
                and creator = #{creator,jdbcType=INTEGER}
            </if>
            <if test="commentCount != null">
                or comment_count = #{commentCount,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectQuestionUser" resultMap="MultipleBaseResultMap">
        select a.*,b.* from question a join user b on a.creator=b.ID
        <where>
            <if test="questionName != null">
                a.title like concat('%',#{questionName,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>
</mapper>