<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>匠心社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>




</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->

<nav class="navbar navbar-default">

    <div class="container-fluid">
        <!-- 网站log -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">匠心社区</span>

            </button>
            <a class="navbar-brand" href="/">匠心社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--form表单-->
            <form class="navbar-form navbar-left">
                <!--文本框-->
                <div class="form-group">
                    <!--placeholder是搜索框中默认的显示提示-->
                    <input type="text" class="form-control" placeholder="搜索内容">
                </div>
                <!--搜索按钮-->
                <button type="submit" class="btn btn-default">搜索</button>
            </form>

            <!--ul代表的是无序列表-->
            <ul class="nav navbar-nav navbar-right">
                <!--这里是一个判断，这个判断不是很成熟，定义的是session中的user信息是空的时候，也可以显示发布按钮-->
                <li th:if="${session.user!=null}">
                    <a href="/publish">发布</a>
                </li>

                <!--如果session中有值的情况下，右上角是显示登录的用户名信息-->
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>

                <!--如果session中没有值的情况下，右上角是登录字样-->
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=c69ece8b7824522367e0&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                    <!--第一步的时候添加的连接，官方文档上显示client_id是必要的，这里我们又添加了一个重定向uri-->
                </li>

            </ul>
        </div>
    </div>
    <!--上面这个div定义的整个状态栏，第一个是log,第二个是搜索框和搜索按钮，第三个是右边的显示，先显示发布按钮，点击发布按钮就会跳转到publish,最右边的是一个判断，如果session中的user有信息的时候显示用户名，如果没有信息的时候显示登录文字提示-->
</nav>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发起</h2>
            <hr/>

            <!--这个就是一个循环列表 用的th:each-->
            <!--${questions}-->
            <div class="media" th:each="question:${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatar_url}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span> <br>
                    <span class="text-desc"><span th:text="${question.comment_count}"></span>个回复 • <span th:text="${question.view_count}"></span> 次浏览 • <span th:text="${#dates.format(question.gmt_create,'yyyy-MM-dd HH:mm')}"></span> </span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!--<li th:each="page:${pagination.pages}"><a th:text="${page}"></a> </li>-->
                    <!--href实现一个网址的拼接，比如我这里拼接成了http://localhost:8080/?pageNum=3   text实现了下面页码栏当前页面的打印
                    里面的th:class是为了实现当前页码的高亮显示-->
                    <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{/(pageNum=${page})}" th:text="${page}"></a>
                    </li>

                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            - 标题不超过25个字<br/>
            - 问题补充说人话<br/>
            - 选择标题，选择一个或者多个标题然后用逗号进行分隔，每个标签不超过10个字。<br/>
        </div>
    </div>
</div>

</body>
</html>