<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我们几个的社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<!--模版引入-->
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发起</h2>
            <hr/>
            <!--这个就是一个循环列表 用的th:each-->
            <!--${questions}-->
            <!--<span>${pagination.list}</span>-->
            <div class="media" th:each="question:${pagination.list}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.avatar_url}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}"></span> <br>
                    <span class="text-desc"><span th:text="${question.comment_count}"></span>个回复 • <span th:text="${question.view_count}"></span> 次浏览 • <span th:text="${#dates.format(question.gmt_create,'yyyy-MM-dd HH:mm')}"></span> </span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!--显示跳转到第一页按钮-->
                    <!--<li th:if="${pagination.showFirstPage}">
                        <a href="/?pageNum=1" aria-label="Previous">
                            &lt;!&ndash;括号里面的是《这个符号&ndash;&gt;
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>-->
                    <li>
                        <a href="/?pageNum=1" aria-label="Previous">
                            <!--括号里面的是《这个符号-->
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <!--显示上一页按钮-->
                    <li th:if="${pagination.hasPreviousPage}">
                        <a th:href="@{/(pageNum=${pagination.pageNum-1})}" aria-label="Previous">
                            <!--括号里面的是《这个符号-->
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!--<li th:each="page:${pagination.pages}"><a th:text="${page}"></a> </li>-->
                    <!--href实现一个网址的拼接，比如我这里拼接成了http://localhost:8080/?pageNum=3   text实现了下面页码栏当前页面的打印
                    里面的th:class是为了实现当前页码的高亮显示-->
                    <li th:each="page:${pagination.navigatepageNums}" th:class="${pagination.pageNum==page}?'active':''">
                        <a th:href="@{/(pageNum=${page})}" th:text="${page}"></a>
                    </li>

                    <!--显示后一页按钮-->
                    <li th:if="${pagination.hasNextPage}">
                        <a th:href="@{/(pageNum=${pagination.pageNum+1})}" aria-label="Previous">
                            <!--括号里面的是《这个符号-->
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <!--显示最后一页按钮-->
                    <!--<li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(pageNum=${pagination.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>-->
                    <li>
                        <a th:href="@{/(pageNum=${pagination.pages})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            - 标题不超过25个字<br/>
            - 问题补充说人话<br/>
            - 选择标题，选择一个或者多个标题然后用逗号进行分隔，每个标签不超过10个字。<br/>
        </div>
    </div>
</div>

</body>
</html>