<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布—匠心社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>




</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->

<!--模版引入-->
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr/>
            <form action="/publish" method="post">
                <!--hidden标签就是虽然完成前后端的页面数据交互，但是并不在前端进行展示-->
                <input type="hidden" name="id" th:value="${id}">
                <!--上面的method方法的值是post就定义了这个请求的类型是post的时候才会被接受-->
                <div class="form-group">
                    <!--th:text="${title}"这个和后端的校验有联系-->
                    <label for="title">问题标题（简单的说明）</label>
                    <input type="text" class="form-control" th:value="${title}" name="title" id="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充</label>
                    <textarea class="form-control" th:text="${description}" name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}" name="tag" id="tag" placeholder="输入标签用，号隔开...">
                </div>

                <div class="container-fluid tag-publish">
                    <div class="row">
                        <!--error这个绑定着后端的error标签-->
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alet alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                th:text="${error}"
                                th:if="${error!=null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div class="manual-style">
                                <!--因为这里type的类型是submit，点击之后就会连接后端的post请求上-->
                                <button type="submit" class="btn btn-success btn-publish">
                                    发布
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            - 标题不超过25个字<br/>
            - 问题补充说人话<br/>
            - 选择标题，选择一个或者多个标题然后用逗号进行分隔，每个标签不超过10个字。<br/>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br/>

            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br/>

            服务器运行环境信息；<br/>
            软件版本；<br/>
            问题发生的上下文信息；<br/>
            可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；<br/>
            补充完整的异常和错误信息；<br/>
            注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；<br/>
            • 选择标签: 选择一个或者多个合适的标签，不超过10个字<br/>

            • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.<br/>
        </div>
    </div>
</div>

</body>
</html>