<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布—匠心社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>




</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">匠心社区</span>

            </button>
            <a class="navbar-brand" href="/">匠心社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <!--placeholder是搜索框中默认的显示提示-->
                    <input type="text" class="form-control" placeholder="搜索内容">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user!=null}">
                    <a href="/publish">发布</a>
                </li>
                <!--如果session中有值的情况下，右上角是显示登录的用户名信息-->
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>

                <!--如果session中没有值的情况下，右上角是登录字样-->
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=c69ece8b7824522367e0&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                    <!--第一步的时候添加的连接，官方文档上显示client_id是必要的，这里我们又添加了一个重定向uri-->
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr/>
            <form action="/publish" method="post">
                <!--上面的method方法的值是post就定义了这个请求的类型是post的时候才会被接受-->
                <div class="form-group">
                    <!--th:text="${title}"这个和后端的校验有联系-->
                    <label for="title">问题标题（简单的说明）</label>
                    <input type="text" class="form-control" th:value="${title}" name="title" id="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充</label>
                    <textarea class="form-control" th:value="${description}" name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}" name="tag" id="tag" placeholder="输入标签用，号隔开...">
                </div>

                <div class="container-fluid main">
                    <div class="row">
                        <!--error这个绑定着后端的error标签-->
                        <div class="alet alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}" th:if="${error!=null}"></div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <!--因为这里type的类型是submit，点击之后就会连接后端的post请求上-->
                            <button type="submit" class="btn btn-success btn-publish">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

                <!--<span class="alert alert-danger" th:text="${error}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布</button>-->

            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            - 标题不超过25个字<br/>
            - 问题补充说人话<br/>
            - 选择标题，选择一个或者多个标题然后用逗号进行分隔，每个标签不超过10个字。<br/>
        </div>
    </div>
</div>

</body>
</html>